<p-blockUI [target]="confgForms" [blocked]="loading">
  <i [class]="'fa fa-spinner fa-spin fa-4x fa-fw'" style="position:absolute; top: 40%; left: 30%;"></i>
</p-blockUI>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-toast position="center" key="confirmDialg" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="message.data.onConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="message.data.onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<app-blocker #confgForms>
  <div class="forms-container">
    <div class="list-container">
      <p-listbox [options]="Items" [(ngModel)]="CurrECSObject" filter="true">
        <ng-template let-item let-i="index" pTemplate="item">
          <div class="ui-helper-clearfix">
            <img src="assets/images/items/location.png" style="display:inline;margin:5px 0 0 5px" width="16">
            <!-- <img src="assets/images/items/{{item.value.CheckItemImageID}}.png" style="display:inline-block;margin:5px 0 0 5px" width="22"> -->
            <span style="text-align:left;padding:5px 5px 0 5px">{{item.value.Name}}</span>
          </div>
        </ng-template>
      </p-listbox>
    </div>

    <div class="details">
      <p-tabView class="config-forms-panels">
        <p-tabPanel header="{{'CONFIG_FORMS.INFORMATION' | translate}}" leftIcon="fa fa-object-ungroup">
          <config-forms-info [form]=CurrECSObject (dirtify)='dirtifyItem($event)'></config-forms-info>
        </p-tabPanel>
        <p-tabPanel header="{{'CONFIG_FORMS.ITEMS' | translate}}" leftIcon="fa fa-object-ungroup">
          <config-forms-items [form]=CurrECSObject [checkItems]='locCheckItems' (dirtify)='dirtifyItem($event)'></config-forms-items>
        </p-tabPanel>
      </p-tabView>

      <div class="buttons-container">
        <button pButton type="button" label="Add Form" (click)='addForm()'></button>
        <button pButton type="button" label="Remove Form" (click)='removeEcsObject($event)'></button>
      </div>
    </div>
  </div>
</app-blocker>
