<div class="layout">
    <app-location-information class="widget"
                              [itemType]="itemType"
                              [itemId]="itemId">
    </app-location-information>

    <app-locations-status-table class="widget"
                                [itemType]="itemType"
                                [itemId]="itemId">
    </app-locations-status-table>

    <app-active-alarms-chart class="widget"
                             [itemType]="itemType"
                             [itemId]="itemId">
    </app-active-alarms-chart>

    <app-open-tickets-chart class="widget"
                            [itemType]="itemType"
                            [itemId]="itemId">
    </app-open-tickets-chart>

</div>
