@import '../../../../assets/sass/variables';

:host /deep/ {

  .ui-tabview {
    height: calc(100% - 36px);
  }

  .ui-tabview-panels {
    height: calc(100% - 66px);
  }

  .ui-tabview-panel {
    height: 100%;
  }
}

.layout {
  display: grid;
  height: calc(100% - 100px);
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  margin: 0 23px;
}

@media only screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr;
  }
}

#fl-location-dashboard-menu {
  position: absolute;
  right: 0px;
  top: 75px;
}
