<div class="layout">
    <div class="widget">
        <div class="fl-header">
            <h3 translate class="fl-widget-header">WIDGETS.ACTIVITY.TITLE</h3>

            <button (click)="getData()" translate class="fl-refresh-btn">
                <i class="far fa-sync-alt"></i>
            </button>
        </div>

        <p-table #activityGridTbl
                [value]="data"
                [scrollable]="true"
                scrollHeight="100%"
                [loading]="loading"
                [responsive]="true"
                [globalFilterFields]="['UserName','ActionName','ObjectName', 'TimeStampParsed']">

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" [class]="col.headerClass">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data>
                <tr>
                    <td *ngFor="let col of cols" [class]="col.columnClass" [title]="data[col.field]">
                        <i *ngIf="col.field === 'TimeStampParsed'" class="far fa-clock" aria-hidden="true"></i>{{data[col.field]}}
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
