.layout {
  display: grid;
  height: calc(100% - 75px);
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  margin: 0 23px;
}

.widget {
  height: 100%;
  border-radius: 6px;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.92);
  padding-left: 10px;
  padding-right: 10px;
}

#fl-location-dashboard-menu {
  position: absolute;
  right: 0px;
  top: 75px;
}
