<div>

    <p-blockUI [target]="changePasswordBlocker" [blocked]="loading">
        <i [class]="'fa fa-spinner fa-spin fa-4x fa-fw'" style="position:absolute;top:37%;left:46%"></i>
    </p-blockUI>

    <app-blocker #changePasswordBlocker>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>

            <div class="ui-inputgroup">
                <input #currentPassword
                       formControlName="currentPassword"
                       pInputText
                       placeholder="{{'LOGIN.CHANGE_PASSWORD_CURRENT_PASSWORD' | translate}}"
                       type="password">
                <i class="fa fa-check valid p-0"
                   *ngIf="changePasswordForm.controls['currentPassword'].valid && changePasswordForm.controls['currentPassword'].touched"></i>
                <i class="fa fa-exclamation-circle invalid"
                   *ngIf="changePasswordForm.controls['currentPassword'].invalid && changePasswordForm.controls['currentPassword'].touched"
                   [pTooltip]="'LOGIN.REQUIRED' | translate"></i>
            </div>

            <div class="ui-inputgroup" formGroupName="passwords">
                <input #newPassword
                       formControlName="newPassword"
                       pInputText
                       placeholder="{{'LOGIN.CHANGE_PASSWORD_NEW_PASSWORD' | translate}}"
                       type="password">
                <i class="fa fa-check valid"
                   *ngIf="changePasswordForm.get('passwords.newPassword').valid && changePasswordForm.get('passwords.newPassword').touched"></i>
                <i class="fa fa-exclamation-circle invalid"
                   *ngIf="(changePasswordForm.get('passwords.newPassword').hasError('required') ||
                      changePasswordForm.get('passwords.newPassword').hasError('pattern') ||
                      changePasswordForm.get('passwords.newPassword').hasError('minlength')) &&
                      changePasswordForm.get('passwords.newPassword').touched"
                   [pTooltip]="changePasswordForm.get('passwords.newPassword').hasError('required') ?
               ('LOGIN.REQUIRED' | translate) : changePasswordForm.get('passwords.newPassword').hasError('pattern') ?
               ('LOGIN.NEW_PASSWORD_PATTERN_TOOLTIP' | translate) : changePasswordForm.get('passwords.newPassword').hasError('minlength') ?
               ('LOGIN.NEW_PASSWORD_MIN_LENGTH' | translate) + ' ('+minChars+')' : ''"></i>
            </div>

            <div class="ui-inputgroup" formGroupName="passwords">
                <input formControlName="retypeNewPassword"
                       pInputText
                       placeholder="{{'LOGIN.CHANGE_PASSWORD_RETYPE_NEW_PASSWORD' | translate}}"
                       type="password"
                       required>
                <i class="fa fa-check valid"
                   *ngIf="changePasswordForm.get('passwords.retypeNewPassword').valid &&
               changePasswordForm.get('passwords').valid &&
               changePasswordForm.get('passwords.retypeNewPassword').touched"></i>
                <i class="fa fa-exclamation-circle invalid"
                   *ngIf="(changePasswordForm.get('passwords.retypeNewPassword').invalid ||
               changePasswordForm.get('passwords').invalid) &&
               changePasswordForm.get('passwords.retypeNewPassword').touched"
                   [pTooltip]="changePasswordForm.get('passwords.retypeNewPassword').hasError('required') ?
               ('LOGIN.REQUIRED' | translate) : changePasswordForm.get('passwords').hasError('areEqual') ?
               ('LOGIN.RETYPE_NEW_PASSWORD_NOT_MATCH' | translate) : ''"></i>
            </div>

            <div class="error-message">
                {{message}}
            </div>

            <div class="form-group text-center form-login-button">
                <button pButton [disabled]="!changePasswordForm.valid" class="login-button">
                    {{'LOGIN.CHANGE_PASSWORD_BUTTON' | translate}}
                </button>
            </div>

        </form>
    </app-blocker>

</div>
