.fa {
  font-size: 24px;
  &.invalid {
    color: #FF0000;
  }
  &.valid {
    color: #4CAF50;
  }
}

button {
  background: #3FBA2A;
  width: 268px;
  height: 40px;
  border-radius: 3px;
  color: #1c4153;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  border: 0px;
  cursor: pointer;
  padding-top: 10px;
}

.error-message {
  color: red;
}

.ui-inputgroup {
  padding: 20px;
}
