.config-items-steps {
    display: grid;
    //background-size: 100% auto;
    height: 100%; 
    text-align: left;
    width: 100%; 
    min-height: 440px;
    padding: 0px 10px;
    margin: 10px auto 0 auto; 
  }
  

  .buttons-container {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  
    & button {
      margin-right: 10px;
    }
  }
