<div class='config-forms-info' *ngIf='form'>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">

            <!-- Upper Left Cube -->
            <div class="ui-grid-col-7 ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                <!-- Name -->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">
                        <label for="name">Name</label>
                    </div>
                    <div class="ui-grid-col-7">
                        <input id="name" type="text" pInputText [(ngModel)]="form.Name" pKeyFilter="alphanum" (change)='onDirtify()'>
                        <!-- <p-message severity="error" text="Not a valid number" [@errorState]="frmDeviceInfo.dirty && !frmDeviceInfo.valid ? 'visible' : 'hidden'"></p-message> -->
                    </div>
                </div>

                <!-- iButton ID -->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">
                        <label for="iBtnID">iButton ID</label>
                    </div>
                    <div class="ui-grid-col-7">
                        <p-inputMask #iBtnIDMask id="iBtnID" [(ngModel)]="form.IButtonID" [mask]="getiButtonMask()" [placeholder]="getiButtonMask()"
                            (onComplete)='formiButtonChanged(iBtnIDMask.value)'></p-inputMask>
                    </div>
                </div>

                <!-- Description -->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">
                        <label for="description">Description</label>
                    </div>
                    <div class="ui-grid-col-7">
                        <textarea pInputTextarea id="description" [(ngModel)]='form.Description' (onChange)='onDirtify()'></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
