.digital-section {
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.boolean-string {
  color: #D9D9D9;
  font-size: 12px;
}

.am-name {
  color: #D9D9D9;
}

.am-status {
  color: #C9D0D0;
  font-size: 9px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}
