


/*.container {
  position: relative;
}

.metadata {
  text-align: center;
  color: #FFF;
  position: absolute;
  margin-top: -71px;
  width: 150px;
}

.last-value {
  text-align: center;
  color: #FFF;
  position: absolute;
  margin-top: -20px;
  width: 150px;
  font-size: 11px;
}

.timestamp {
  text-align: center;
  color: #FFF;
  position: absolute;
  margin-top: -35px;
  width: 150px;
  font-size: 11px;
}

.boolean-string {
  text-align: center;
  color: #FFF;
  position: absolute;
  margin-top: -50px;
  width: 150px;
  font-size: 11px;
}*/
