.layout {
  display: grid;
  height: calc(100% - 95px);
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  margin: 16px;
}

.item1 {
  grid-area: 1 / 1 / span 1 / span 2;
}
