<div class="layout">

    <app-asset-measure-highchart
            class="item1 widget"
            [itemType]="itemType"
            [itemId]="itemId">
    </app-asset-measure-highchart>

    <app-active-alarms-chart
            class="widget"
            [itemType]="itemType"
            [itemId]="itemId">

    </app-active-alarms-chart>

    <app-open-tickets-chart
            class="widget"
            [itemType]="itemType"
            [itemId]="itemId">
    </app-open-tickets-chart>

</div>
