<p-blockUI [target]="confgMaintan" [blocked]="loading">
  <i [class]="'fa fa-spinner fa-spin fa-4x fa-fw'" style="position:absolute; top: 40%; left: 30%;"></i>
</p-blockUI>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-toast position="center" key="confirmDialg" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="message.data.onConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="message.data.onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>


<app-blocker #confgMaintan>
  <div class="maintenance-container">
    <div class="list-container">
      <p-listbox [options]="Items" [(ngModel)]="CurrECSObject" filter="true">
        <ng-template let-item let-i="index" pTemplate="item">
          <div class="ui-helper-clearfix">
            <img src="assets/images/items/location.png" style="display:inline;margin:5px 0 0 5px" width="16">
            <!-- <img src="assets/images/items/{{item.value.CheckItemImageID}}.png" style="display:inline-block;margin:5px 0 0 5px" width="22"> -->
            <span style="text-align:left;padding:5px 5px 0 5px">{{item.value.Name}}</span>
          </div>
        </ng-template>
      </p-listbox>
    </div>

    <div class="details">
      <div class='content' *ngIf='CurrECSObject'>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 20px">
          <div class="ui-grid-row">

            <div class="ui-grid-col-12 ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <!-- Task -->
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label for="task">Task</label>
                </div>
                <div class="ui-grid-col-9">
                  <input id="task" type="text" pInputText [(ngModel)]='CurrECSObject.Name' (change)='dirtifyItem()'>
                  <!-- <p-message severity="error" text="Not a valid number" [@errorState]="frmDeviceInfo.dirty && !frmDeviceInfo.valid ? 'visible' : 'hidden'"></p-message> -->
                </div>
              </div>

              <!-- Start Time -->
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label for="startTime">Start Time</label>
                </div>
                <div class="ui-grid-col-9">
                  <p-calendar [(ngModel)]="CurrECSObject.StartDate" dateFormat="mm/dd/yy" showTime="true" hourFormat="12"
                    (onSelect)='dirtifyItem()' [showIcon]="true"></p-calendar>
                  <!-- <p-message severity="error" text="Not a valid number" [@errorState]="frmDeviceInfo.dirty && !frmDeviceInfo.valid ? 'visible' : 'hidden'"></p-message> -->
                </div>
              </div>

              <!-- Repeat Interval-->
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label for="startTime">Repeat Interval</label>
                </div>
                <div class="ui-grid-col-9">
                  <div class="ui-g-12">
                    <p-radioButton name="repeatIntrvl" value=0 label="{{'CONFIG_PREV_MAINTS.REPEAT_INTERVAL.ONCE' | translate}}"
                      [(ngModel)]="CurrECSObject.RepeatInterval" (onClick)='dirtifyItem()'></p-radioButton>
                  </div>
                  <div class="ui-g-12">
                    <p-radioButton name="repeatIntrvl" value=1440 label="{{'CONFIG_PREV_MAINTS.REPEAT_INTERVAL.DAILY' | translate}}"
                      [(ngModel)]="CurrECSObject.RepeatInterval" (onClick)='dirtifyItem()'></p-radioButton>
                  </div>
                  <div class="ui-g-12">
                    <p-radioButton name="repeatIntrvl" value=10080 label="{{'CONFIG_PREV_MAINTS.REPEAT_INTERVAL.WEEKLY' | translate}}"
                      [(ngModel)]="CurrECSObject.RepeatInterval" (onClick)='dirtifyItem()'></p-radioButton>
                  </div>
                  <div class="ui-g-12">
                    <p-radioButton name="repeatIntrvl" value=43200 label="{{'CONFIG_PREV_MAINTS.REPEAT_INTERVAL.MONTHLY' | translate}}"
                      [(ngModel)]="CurrECSObject.RepeatInterval" (onClick)='dirtifyItem()'></p-radioButton>
                  </div>
                  <div class="ui-g-12">
                    <p-radioButton name="repeatIntrvl" value=129600 label="{{'CONFIG_PREV_MAINTS.REPEAT_INTERVAL.QUARTERLY' | translate}}"
                      [(ngModel)]="CurrECSObject.RepeatInterval" (onClick)='dirtifyItem()'></p-radioButton>
                  </div>
                  <div class="ui-g-12">
                    <p-radioButton name="repeatIntrvl" value=525600 label="{{'CONFIG_PREV_MAINTS.REPEAT_INTERVAL.YEARLY' | translate}}"
                      [(ngModel)]="CurrECSObject.RepeatInterval" (onClick)='dirtifyItem()'></p-radioButton>
                  </div>
                </div>
              </div>

              <!-- Comments -->
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label for="comments">Comments</label>
                </div>
                <div class="ui-grid-col-9">
                  <textarea pInputTextarea id="comments" [(ngModel)]='CurrECSObject.Comments' (onChange)='dirtifyItem()'></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <span class="md-inputfield align-this-end">
          <button pButton type="button" label="Add Maintenance" (click)='addPrevMaint($event)'></button>
          <button pButton type="button" label="Remove Maintenance" (click)='removeEcsObject($event)'></button>
        </span>
      </div>
    </div>
  </div>
</app-blocker>
